In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (14, 8)

In [2]:
from IPython import display
display.set_matplotlib_formats('retina')

###### Columns: 
###### 1-14   Source Time (GMT)  YYYYDDDHHMMSSS 
###### 16-17   Number of recording hydrophones 
###### 18-32   ID's of recording hydrophones (in order received) 
###### 34-41   Epicenter Latitude  (Degrees, N=+, S=-) 
###### 42-50   Epicenter Longitude (Degrees, E=+, W=-) 
###### 51-57   Estimated error in latitude (degrees) 
###### 58-64   Estimated error in longitude (degrees) 
###### 65-71   Estimated error in source time (seconds) 
###### 72-79   Source Magnitude (dB re 1 micro-Pa @ 1m)

In [3]:
col_names = ['source_time', 'h_count', 'h_id', 'ep_lat', 'ep_lon', 'er_lat', 'er_lon',
        'er_time', 'mdb', 'mdb2','event' ,'notes']

In [4]:
#!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output

allDays01_24.txt  data_2019215.txt  df_allDaysCat.txt
allDaysCat.txt	  data_2019217.txt  df_allDaysOld.txt
archive		  data_2019218.txt  drive-download-20220201T134941Z-001.zip
data_2019207.txt  data_2019220.txt  eqs.csv
data_2019208.txt  data_2019221.txt  eqs.pkl
data_2019210.txt  data_2019222.txt  hydro-acoustic
data_2019211.txt  data_2019224.txt  newDays.txt
data_2019213.txt  data_2019225.txt
data_2019214.txt  df_allDays.txt

In [ ]:
#!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data_2019090.txt

In [5]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/data* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays219.txt

In [7]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays219.txt

20192252207573  6          213456 -63.306  -59.642  0.063  0.032  4.241  219.86 220.2 EQ out of network west basin
20192252210397  6          213456 -63.268  -59.621  0.062  0.032  4.126  207.23 207.6 IQ out of network west basin
20192252213260  5           21345 -63.300  -59.621  0.042  0.020  2.885  198.66 199.0 IQ out of network west basin
20192252216027  5           21345 -63.356  -59.618  0.096  0.043  6.643  201.23 201.5 IQ out of network west basin
20192252220177  6          213456 -63.310  -59.647  0.070  0.036  4.769  210.57 210.9 EQ out of network mid basin
20192252250121  3             213 -64.119  -62.181  0.069  0.121  3.484  197.87 198.1 IQ LT overlapping IQ
20192252329594  3             213 -63.272  -59.361  0.135  0.108  9.943  192.89 193.1 IQ out of network mid basin
20192252337308  4            1234 -63.385  -59.694  0.019  0.009  1.372  190.52 190.7 IQ out of network west basin
20192252340266  5           21345 -63.285  -59.334  0.039  0.022  2.594  188.13 188.5 IQ out of network west basin
20192252354295  6          345261 -62.378  -58.775  0.026  0.035  1.299  193.59 194.0 IQ in network middle

In [8]:
!sed 's/,/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/newDays219.txt  > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/ /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,,,,,,,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
!sed -i -e 's/,/ /12g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/Q/Q,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/K/K,/g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/-/ /g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e 's/_//g' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/, /,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,,/,/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i -e "s/,  /, no notes/g" /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{4\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt
#!sed -i 's/^\(.\{8\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
#!sed -i 's/^\(.\{11\}\)/\1,/' /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/dax_2020012.txt
!head /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

20192070148277,3,123,-60.268,-67.821,0.122,0.144,1.075,212.23,212.5,IDK,LT
20192070244133,3,654,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
20192070306482,4,2314,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
20192070322144,3,324,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
20192070327068,3,654,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
20192070334099,4,4325,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin
20192070338509,3,123,-62.919,-60.567,0.190,1.056,38.614,190.10,190.3,IQ,in network SW corner
20192070353466,4,2134,-62.866,-59.530,0.100,0.079,2.519,190.92,191.2,IQ,in network SE network
20192070415502,4,4563,-63.218,-57.205,1.144,1.109,90.671,202.84,203.1,IQ,LT
20192070419346,3,123,-62.443,-60.253,0.056,0.110,4.894,188.25,188.5,IDK,LF signals M1

In [9]:
!tail /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays.txt

20192252207573,6,,213456,-63.306,-59.642,0.063,0.032,4.241,219.86,220.2,EQ out of network west basin
20192252210397,6,,213456,-63.268,-59.621,0.062,0.032,4.126,207.23,207.6,IQ out of network west basin
20192252213260,5,21345,-63.300,-59.621,0.042,0.020,2.885,198.66,199.0,IQ,out of network west basin
20192252216027,5,21345,-63.356,-59.618,0.096,0.043,6.643,201.23,201.5,IQ,out of network west basin
20192252220177,6,,213456,-63.310,-59.647,0.070,0.036,4.769,210.57,210.9,EQ out of network mid basin
20192252250121,3,213,-64.119,-62.181,0.069,0.121,3.484,197.87,198.1,IQ,LT overlapping IQ
20192252329594,3,213,-63.272,-59.361,0.135,0.108,9.943,192.89,193.1,IQ,out of network mid basin
20192252337308,4,1234,-63.385,-59.694,0.019,0.009,1.372,190.52,190.7,IQ,out of network west basin
20192252340266,5,21345,-63.285,-59.334,0.039,0.022,2.594,188.13,188.5,IQ,out of network west basin
20192252354295,6,,345261,-62.378,-58.775,0.026,0.035,1.299,193.59,194.0,IQ in network middle

In [10]:
!cat /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDays* > /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat0219.txt

In [22]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/df_allDaysCat0219.txt' # use your path

eqs = pd.read_csv(path, sep=',', header=0, names=col_names,
                  dtype = {'source_time':np.str,'h_count': np.float64,'eplat_deg': np.float64, 'eplon_deg': np.float64,
                           'er_lat': np.float64,'er_lon': np.float64,
                           'er_time': np.float64,'M_db': np.float64,
                           'Mdb2': np.float64, 'notes': np.str})
eqs['source_time'].iloc[0][0:4]
eqs.drop_duplicates(subset='source_time', keep='first', inplace=True, ignore_index=False)
eqs.head(10)

,source_time,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
0,20192070244133,3.0,654.0,-62.344,-57.047,0.062,0.212,6.484,187.82,188.1,IQ,in network NE corner
1,20192070306482,4.0,2314.0,-63.124,-58.867,0.012,0.011,0.781,195.79,196.1,IQ,out of network mid basin
2,20192070322144,3.0,324.0,-62.786,-58.856,0.020,0.034,1.039,190.89,191.1,IQ,in network middle
3,20192070327068,3.0,654.0,-62.450,-56.766,0.062,0.283,9.892,190.51,190.7,IQ,out of network
4,20192070334099,4.0,4325.0,-63.001,-58.121,0.015,0.022,1.073,191.83,192.0,IQ,out of network mid basin
5,20192070338509,3.0,123.0,-62.919,-60.567,0.190,1.056,38.614,190.10,190.3,IQ,in network SW corner
6,20192070353466,4.0,2134.0,-62.866,-59.530,0.100,0.079,2.519,190.92,191.2,IQ,in network SE network
7,20192070415502,4.0,4563.0,-63.218,-57.205,1.144,1.109,90.671,202.84,203.1,IQ,LT
8,20192070419346,3.0,123.0,-62.443,-60.253,0.056,0.110,4.894,188.25,188.5,IDK,LF signals M1
9,20192070524482,3.0,432.0,-62.811,-58.070,0.048,0.088,3.596,192.28,192.2,IQ,in network middle

In [24]:
eqs['time'] = pd.to_datetime(eqs['source_time'], format='%Y%j%H%M%S%f')

eqs.set_index('time', inplace=True, verify_integrity= True)
eqs.sort_index(inplace=True)
eqs.drop('source_time', axis=1, inplace=True)
eqs.head()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb,mdb2,event,notes
time,,,,,,,,,,,
2019-03-31 01:04:14.800,3.0,654.0,61.848,56.832,0.632,0.821,55.183,199.89,200.1,IQ,NaN
2019-03-31 01:56:14.800,3.0,654.0,62.087,57.118,0.229,0.244,17.163,197.90,198.1,IQ,NaN
2019-03-31 02:07:09.700,3.0,654.0,61.960,56.979,0.396,0.487,33.282,201.19,201.4,IQ,NaN
2019-03-31 02:19:50.000,3.0,654.0,61.959,56.979,0.397,0.488,33.314,202.00,202.2,IDK,NaN
2019-03-31 02:38:16.600,4.0,6542.0,61.988,56.977,0.219,0.291,18.710,207.18,207.4,IQ,NaN

In [25]:
eqs.describe()

,h_count,h_id,ep_lat,ep_lon,er_lat,er_lon,er_time,mdb
count,5645.000000,5527.000000,5645.000000,5645.000000,5645.000000,5645.000000,5645.000000,5645.000000
mean,120.532329,130067.063143,7864.080238,37.746742,-1.009001,0.411944,10.822462,191.027963
std,8708.749977,199414.700867,59294.919418,44.427925,8.473020,2.042704,20.652920,27.681189
min,3.000000,61.994000,-70.565000,-77.488000,-63.568000,0.000000,0.000000,0.505000
25%,3.000000,654.000000,62.155000,56.952000,0.025000,0.030000,1.212000,189.260000
50%,5.000000,21345.000000,62.577000,57.821000,0.054000,0.053000,3.005000,194.350000
75%,6.000000,213456.000000,62.925000,58.921000,0.146000,0.186000,9.313000,199.520000
max,654321.000000,654321.000000,654321.000000,79.366000,68.835000,61.273000,207.310000,230.460000

In [28]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.pkl'
eqs.to_pickle(path)

In [29]:
path = '/home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/eqs.csv'

eqs.to_csv(path, sep=',', na_rep='',
                 float_format=None, columns=None, header=True,
                 index=True, index_label=None, mode='w', encoding=None,
                 compression='infer', quoting=None, quotechar='"',
                 line_terminator=None, chunksize=None, date_format=None,
                 doublequote=True, escapechar=None, decimal='.',
                 errors='strict')

In [ ]:
!ls /home/jovyan/data/bravoseis_data/noaa_hydroacoustic/seasick_output/